# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Environment files
.env

# Logs
*.log

# OS / editor
.DS_Store
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

app/.mypy_cache/
app/.ruff-cache/

backend/.aws-sam
